
body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: slategray;
}
#mainheader {
    vertical-align: top;
    display: inline-block;  
    width: 100%;
    height: 100px;
    background-color: Green;
  
}
#mainbanner {
    clear: both;
    float: left;
    padding: 0;
    overflow:hidden;
}

#mainimage {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 1800px;
  }
#bannerimagelogo {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden; 
    float: right;
    width:1800px;
    margin-left: auto;
    margin-right: auto;
}
nav > ul > li {
    float: left;
}
#leftmenu {
    float: left;
    width: 20%;
    margin-bottom: 20px;
    list-style:none;
}

.searchbox {
    padding: 5px;
    margin: 10px 10px;
    width: 200px;
}

#main {
    float: right;
    width: 70%;
    margin-bottom: 20px;
}

h1 {
    float: center;
    /* width: 100%; */
    color: orange
}

footer {
    clear: both;
    width: 100%;
}


header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

#leftmenuul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}
