//create flex grid layouts using loop
@for $i from 1 through 12 {
    $w: ($i / 12) * 100%;

    .small-#{$i} {
        flex-basis: $w;
    }
}
//Global CSS
body {
    background-image:url("images/backround.jpg");
    margin:0;

}

h1 {
    color:$primaryColor;
    text-align: center;
    font-weight: bold;
    font-size: 3.4rem;
    font-style: italic;
}

/* Main header section */
//create main row and column classes for use throughout site
.row {
    flex-direction:column;
    display:flex;
    justify-content:LEFT;
 
}

.column{
  
    display:flex;
  
}

header h4,
header h3 {
    margin: 0; //removes space around title
    color: $secondaryColor;
    font-weight: 300;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner{
    background-color: $primaryColor;
    margin:0;
    padding:0;
    
    a{
        padding:.5rem .5REM 0REM 1REM;
        max-width: 10%;

    }
    .Title {
        color:$secondaryColor;
        font-size: 2.5rem;
        font-weight: bolder;
     
    
    }
}

/*Navigation Bar */

.navbanner{
    background-color: $secondaryColor;
}

#primaryNav {
    flex-direction: row;
    margin:0;
    padding:0;
        li{
            list-style: none;
            display: flex;
            a{
                color:$primaryColor;
                display:block;
                text-align: center;
                padding:.5rem 1rem .5rem;
                text-decoration:none;
            }
        }
}

nav li.active {
    background-color: rgba(161, 131, 87, 0.3);
}

nav a:hover {
    background-color: rgba(219, 176, 126, 0.822);
}

nav ul.open {
    display: block;
}

nav ul {
    display: none;
}

//CSS for button
button#hamburgerbtn {
    background: none;
    border: nonecolor #fff;
    font-size: 2.4rem;
    cursor: pointer;
    padding: 0 30px 0 2vw;
}

/*Main Area on Home*/

.mainimage{
    width:100%;
    height:auto;
    align-content: center;
    flex-wrap: wrap;
    margin:0;
    display: flex;
   margin:auto;
.fig
{
    background-color: $primaryColor;
    text-align: right;
    padding: .35rem;
    color:$secondaryColor
}
    img{
        box-shadow: 20px 4px 12px black;
        margin:0;
        
    }
}

.main-text{
    text-align: center;
    h3{
        color:$primaryColor;
        font-weight: bold;
    }
    P{
        font-style: italic;
    }
}


/*footer details*/

footer {
    background-color: $primaryColor;
    font-size: 1.6rem;
    flex-direction: column;

}

footer h2 {
    font-family: sans-serif;
    font-style: italic;
    text-transform: uppercase;
    margin: 1rem 0 .3rem 0;
    color: $secondaryColor
}

footer section{
    width:100%;
    flex-wrap: wrap;
    flex: column;
    padding:.1rem .5rem .5rem 1rem;
}